My name is {{name}} and today is {{date}}.

<p align="center">	<!-- (optional) center align -->
    <img src="animation.html" width="1024">
</p>

<h1 align='center'> Hi! :wave:</h1>
<p align='center'>
I'm ArPimentel.
</p>
<p align='center'>For enquiries, reach out pimentel.arturo@gmail.com or over on <a href="https://www.linkedin.com/in/arturo-pimentel-developpeur-web/">Linkedin</a>.</p>

<h1 align='center'><i>Be cool!</i></h1>

<video width="640" height="360" controls>
  <source src="https://github.com/ArPimentel/ArPimentel/blob/487566baf0a93d576c950959f22693d77605fef4/assets/colibri.mp4" type="video/mp4">
  Votre navigateur ne prend pas en charge la lecture de vidéos au format mp4.
</video>

![Cover](https://github.com/ArPimentel/ArPimentel/blob/487566baf0a93d576c950959f22693d77605fef4/assets/colibri.mp4)


